:root {
  /* Colors: */
  --00606d-hover: #00606d;
  --color-teal: #0290a4;
  --color-navy: #0d1931;
  --color-cyan: #00aac1;
  --color-light-gray: #f0f0f0;
  --color-error: #b00020;
  --pastel-aacbc4: #aacbc4;
  --alertas-orange-light-ff7700: #ff7700;
  --alertas-yellow-light-ffcc00: #ffcc00;
  --alertas-green-light-00c857: #00c857;
  --alertas-red-ligh-ff4b4a: #ff4b4a;
  --full-branco-ffffff: #ffffff;
  --cinza-6f7d7d: #6f7d7d;
  --verde-black-menu-lateral-021b1a: #021b1a;
  --verde-escuro-s1-032221: #032221;
  --verde-s1-08644e: #08644e;
  --verde-branco-f0fffc: #f0fffc;
  --verde-escuro-3-0b2b25: #0b2b25;
  --verde-escuro-2-para-texto-titulo-0a453a: #0a453a;
  --verde-escuro-1-cor-do-sistema-17876d: #17876d;
  --verde-fe-00e081: #00e081;
  --verde-fc-02bc67: #02bc6700;

  /* Font/text values */
  --font-family-manrope: Manrope;
  --font-style-normal: normal;
  --font-weight-light: 300px;
  --font-weight-semibold: 600px;
  --font-weight-bold: bold;
  --font-weight-medium: medium;
  --font-weight-normal: normal;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 26px;
  --font-size-3xl: 38px;
  --font-size-4xl: 44px;
  --font-size-5xl: 64px;
  --letter-spacing-normal: 0px;
  --line-height-xs: 14px;
  --line-height-sm: 17px;
  --line-height-md: 19px;
  --line-height-base: 22px;
  --line-height-lg: 24px;
  --line-height-xl: 33px;
  --line-height-2xl: 36px;
  --line-height-3xl: 52px;
  --line-height-4xl: 60px;
  --line-height-5xl: 87px;
}